<h2>ASP.NET Core State Management Demo</h2>

<ul>
    <li><a href="/State/SetSession">Set Session</a></li>
    <li><a href="/State/GetSession">Get Session</a></li>
    <li><a href="/State/HttpContextExample">HttpContext Example</a></li>
    <li><a href="/State/SetTempData">TempData Example</a></li>
    <li><a href="/State/SetCookie">Set Cookie</a></li>
    <li><a href="/State/GetCookie">Get Cookie</a></li>
    <li><a href="/State/QueryStringExample?name=Samrat&age=20">Query String Example</a></li>
    <li><a href="/State/HiddenFieldForm">Hidden Field Example</a></li>
</ul>